.CenterPiles {
  display: flex;
  flex-wrap: nowrap;
}

.Card {
  width: 100px;
  height: 100px;
  background-color: red;
  /* position: absolute; */
  cursor: grab;
}

.Hand {
  width: 500px;
  height: 100px;
  background-color: green;
  display: flex;
  flex-direction: row;
}

.win-message {
  background-color: #ffffff; /* Background color */
  border: 2px solid #00ff00; /* Border color */
  border-radius: 5px; /* Border radius */
  padding: 10px; /* Padding */
  font-size: 18px; /* Font size */
  font-weight: bold; /* Font weight */
  text-align: center; /* Text alignment */
  margin-top: 20px; /* Margin from the top */
}