.CardPile {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.Card {
  width: 100px;
  height: 100px;
  background-color: red;
  /* position: absolute; */
  cursor: grab;
}

.Hand {
  width: 500px;
  height: 100px;
  background-color: green;
  display: flex;
  flex-direction: row;
}
