.CenterPiles {
  display: flex;
  flex-wrap: nowrap;
}

.Card {
  width: 100px;
  height: 100px;
  background-color: red;
  /* position: absolute; */
  cursor: grab;
}

.Hand {
  width: 500px;
  height: 100px;
  background-color: green;
  display: flex;
  flex-direction: row;
}
